body {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    color: black;
}

header {
    flex: 1;
    background-color: aquamarine;
    padding: 1px 30px 1px 30px;
    font-size: large;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
}

header h1 {
    flex: auto;
}